@import url(' https://fonts.googleapis.com/css2 ? 1 400;1 500;1 600;1 700;1 800;1 900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Great+Vibes & display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@media screen and (max-width: 85em){
    #idabout{
        margin-top: 27rem;
    }
    #idportfolio{
        margin-top: 25rem;
    }
    #idexperience{
        margin-top: 19rem;
    }
    #idcontact{
        margin-top: 25rem;
    }
    #idbutton{
        margin-top: 12rem;
    }
}
@media screen and (min-width: 85em){
    #none1{
        display: none;
    }
    #none2{
        display: none;
    }
    #idexperience{
        margin-top: 10rem;
    }
}
